/*
#############################################################################################################################################################
    SCRIPT DECONFIGURACIÓN DEL PIPELINE DE ANÁLISIS DE RNA-SEQ CON NEXTFLOW
#############################################################################################################################################################
*/

/*
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    PARÁMETROS GLOBALES DEL PIPELINE
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

params {
    input = null
    genome_fasta_zip = null
    hisat2_index_zip = null
    gtf_zip = null
    report_id = "multiqc_report"
}










/*
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    PERFILES DE CONFIGURACIÓN DEL PIPELINE
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

profiles {

    /*
    ≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠
        PERFILES DE EJECUCIÓN
    ≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠
    */

    //=======================================================================================================================
    // PERFIL POR DEFECTO: EJECUCIÓN EN LOCAL CON DOCKER
    //=======================================================================================================================

    local_docker {
        docker.enabled = true
        process.executor = 'local'
    }






    //=======================================================================================================================
    // PERFIL PARA EJECUTAR EN UN CLÚSTER CON APPTAINER PERO SIN SLURM
    //=======================================================================================================================

    cluster_apptainer {
        docker.enabled = false
        apptainer.enabled = true
        apptainer.autoMounts = true
        
        // Ruta al directorio de caché donde se guardarán permanentemente los archivos .sif
        apptainer.cacheDir = '/mnt/beegfs/asanchez/tools/apptainer-images/'

        // Desactivamos el uso del directorio home por seguridad
        apptainer.runOptions = '--no-home'
    }






    //=======================================================================================================================
    // PERFIL PARA EJECUTAR EN UN CLÚSTER CON APPTAINER Y SLURM
    //=======================================================================================================================

    slurm_apptainer {
        docker.enabled = false
        apptainer.enabled = true
        apptainer.autoMounts = true
        
        // Ruta al directorio de caché donde se guardarán permanentemente los archivos .sif
        apptainer.cacheDir = '/mnt/beegfs/asanchez/tools/apptainer-images/'

        // Desactivamos el uso del directorio home por seguridad
        apptainer.runOptions = '--no-home'

        process {
            executor = 'slurm'
            
            // Recursos base (para FastQC, MultiQC, etc.)
            cpus = 8
            memory = 16.GB
            
            // Asignación de un nodo específico
            // Usar --nodelist=nodo0X si se quiere asignar un nodo específico
            clusterOptions = '--get-user-env'
            
            // Asignación específica para HISAT2 (que requiere más potencia)
            withName: 'HISAT2_ALIGN' {
                cpus = 16
                memory = 32.GB
            }
        }
    }








    /*
    ≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠
        PERFILES DE PRUEBA
    ≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠
    */

    test_se_fasta {
        params.input = "${projectDir}/data/metadata/single_end.csv"
        params.genome_fasta_zip = "${projectDir}/data/genome/fasta/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel.fa.gz"
        params.gtf_zip = "${projectDir}/data/genome/annotation/Saccharomyces_cerevisiae.R64-1-1.115.gtf.gz"
        params.report_id = "multiqc_report_se"
    }

    test_se_index {
        params.input = "${projectDir}/data/metadata/single_end.csv"
        params.hisat2_index_zip = "${projectDir}/data/genome/index/hisat2/genome_index.tar.gz"
        params.gtf_zip = "${projectDir}/data/genome/annotation/Saccharomyces_cerevisiae.R64-1-1.115.gtf.gz"
        params.report_id = "multiqc_report_se"
    }

    test_pe_fasta {
        params.input = "${projectDir}/data/metadata/paired_end.csv"
        params.genome_fasta_zip = "${projectDir}/data/genome/fasta/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel.fa.gz"
        params.gtf_zip = "${projectDir}/data/genome/annotation/Saccharomyces_cerevisiae.R64-1-1.115.gtf.gz"
        params.report_id = "multiqc_report_pe"
    } 

    test_pe_index {
        params.input = "${projectDir}/data/metadata/paired_end.csv"
        params.hisat2_index_zip = "${projectDir}/data/genome/index/hisat2/genome_index.tar.gz"
        params.gtf_zip = "${projectDir}/data/genome/annotation/Saccharomyces_cerevisiae.R64-1-1.115.gtf.gz"
        params.report_id = "multiqc_report_pe"
    }

}
